# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/

# Env
.env
.env.*

# Data (générés localement)
data/bronze/
data/silver/
data/gold/

# OS
.DS_Store

# IDE / outils locaux
.vscode/

# airflow
airflow/*

!airflow/dags/
!airflow/dags/**.py
!airflow/Dockerfile