# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/

# Env
.env
.env.*

# Data (générés localement)
data/bronze/
data/silver/
data/gold/

# OS
.DS_Store

# IDE / outils locaux
.vscode/

# Airflow : ignorer tout sauf les DAG (.py) et le Dockerfile
airflow/*
!airflow/dags/
!airflow/dags/*.py
!airflow/Dockerfile